@media screen and (max-width: 1024px) {

.banner{
    position: absolute;
    top: 30%;
    left: 10%;
}    

.banner h1{
    font-size: 3.5rem;
}

.banner p {
    margin-bottom: 3%;
}

.banner button{
    margin:-8% 0% 1% 10%;
    padding: 1rem 2rem;
}


.hamburguer{
    right: 1.5rem;
}


#link-topo{
    right: 1.5rem;
}


}
/* ----------------------------------------------- */

/* tablet */
@media screen and (max-width: 768px) {
  
    .banner h1{
        font-size: 2.5rem;
    }

    .banner p {
        margin-bottom: 2%;
    }

    .banner button{
        margin:0% 0% 2% 13%;
        padding: .5rem;
    }
    

    .hamburguer{
        right: 3rem;
    }
    
    
    #link-topo{
        right: 3rem;
    }
 

}

/* ------------------------------------------ */

@media screen and (max-width: 360px) {
   .banner{
       top:25% ;
       left:2%;
   }
    
    .banner h1{
        
        left:1%;
        font-size: 1.5rem;
        line-height: 1rem;
        margin-bottom: 1.5rem;
    }
    
    .nome{
        margin-top: 7rem;
    }

    .banner p {
        font-size: 1.3rem;
        line-height: 1rem;
        margin-top: 1rem;
        margin-bottom:1rem;        
    }
    
    .banner button{
        padding: 1rem 2rem;
    }    
    
    .hamburguer{
        top:1rem;
        right: 10rem;
    }
    
    .sidebar{
        width: 100%;
        height: 100vh;
        
    }

    /* .aside .sidebar{

    } */

    .menu-link {
        font-size:1.5rem;
        line-height: 3rem;
        margin-bottom: 10rem;
    }

    #link-topo{ 
        bottom:15rem ;
        right: 9rem; 
    }
    
}

    
