@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;1,300;1,400&display=swap');


@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css");

 *{
     margin: 0;
     padding: 0;
     list-style: none;
     text-decoration: none;
 }

:root{
    --font-primary: "Baloo Da 2", serif;
    --font-secundary: "Josefin Slab", serif;
    --font-action: "Mulish", sans-serif;
}

html{
    scroll-behavior: smooth;
}

 

.hamburguer{
    /* background-color: red; */
    width:2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
    right: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    transition:all 2s;
}

.show-menu .hamburguer{
    right: 16rem;

}

.line{
    width: 100%;
    height: .3rem;
    /* background-color: #fff; */
    /* box-shadow: 0.1rem 0.1rem 1px #000; */
    transition: transform 1s ;
    background-color: #6a3093;

    /* box-shadow: 0 0.1rem 0.6rem #000; */

    box-shadow: 1rem 1.1rem .4rem rgba(0, 0, 0, .6);
    /* border-radius: 10px; */

    /* font-size:1.5rem; */

}



.show-menu #line1{
    transform: rotate(45deg) translate(.3rem, .3rem);
    box-shadow: none;
}


.show-menu #line2{
    opacity: 0;
    visibility: hidden;
}


.show-menu #line3{
    transform: rotate(-45deg) translate(.3rem, -.45rem);
    box-shadow: none;
}

.hamburguer span{
    position: absolute;
    left: 3rem;
    width: 6rem;
    height: 2rem;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #6a3093;
    color:white;
    font-family: var(--font-action);
    opacity: 0;

    
}

.hamburguer span::before{
    content:"";
    position:absolute;
    border-right: .5rem solid #6a3093;
    border-top: .5rem solid transparent;
    border-left: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    left:-1rem;
}

.show-menu .hamburguer:hover span{
    opacity: 1;


}


 header {
     width: 100%;
     height: 100vh;
     overflow: hidden;
     position: relative;
 }

.img-wrapper{
    width: 100%;
    height:100%;
    overflow:hidden;
    background-color:rgba(0, 0, 0, 0.8);

}

.img-wrapper img{
    width: 100%;
    height:100%;
    object-fit: cover;
    opacity: 0.5;
    animation: zoom 25s ;
}


@keyframes zoom{
    0%{
        transform:scale(1.3);
    }


    100%{
        transform: scale(1);
    }
}



.banner {
    position: absolute;
    top:30%;
    left: 15%;
    
}

.banner h1{
    color: #ffffff;
    font-size: 3.5rem;
    font-family: var(--font-primary);
    font-weight: 200;
    text-shadow: .3rem .4rem 2px rgba(0, 0, 0, .4);
    line-height: 3.5rem;
    margin-bottom: 2rem;
    opacity:0;
    animation: movebanner 1s  0.5s forwards;
}

.banner p{
    font-family: var(--font-secundary);
    color: #fff;
    font-size: 2rem;
    text-shadow: .2rem .2rem rgba(0, 0, 0, .4);
    margin-bottom: 2rem;
    opacity: 0;
    animation: movebanner 1s 0.7s forwards;
}

.banner button{
    font-family: var(--font-action);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .1rem;
    background-color: #6a3093;
    background: -webkit-gradient(to left, #a044ff, #6a3093);
    background: linear-gradient(to left, #a044ff, #6a3093); 
    padding: 1rem 3rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    animation: movebanner 1s  0.9s  forwards;
}

.banner button:hover{
    opacity: 0.7;
    color: black;
}


@keyframes movebanner{
    0%{
        transform:translateY(10rem) rotatey(-30deg);
    }

    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;
            
    }


}

.sidebar{
    width: 20rem;
    height: 100vh;
    
    background-color:rgb(167, 167, 167);
    
    position: fixed;
    top: 0;
    right: -20rem;
    z-index: 99;
    
    transition:all 1s;

    
}

.show-menu .sidebar{
    right: 0;
    

}

.menu{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.menu-item{
    text-align: center;
    margin-bottom: .5rem;

}

.menu-link{
    font-family: var(--font-action);
    font-size: 2rem;
    color:#555;
    transition: color .8s;
    
}

.menu-link:hover{
    color: #6a3093;

}

.social-media{
    position:absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content:space-evenly;
}


.social-media i {
    
    background-color:#6a3093;
    color:rgba(255, 255, 255, 1);
    border-radius: 50%;

    width: 2.5rem;
    height:2.5rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.social-media i:hover{
    background-color:white;
    color:#6a3093;
    cursor: pointer;
    transition: color 2.5s;
}

.conhecimentos{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(6, 6rem);
    row-gap: .5rem;

    
    

}

.conhecimento:nth-child(1){
    grid-column: 4 / 7; 
    grid-row: 1 / 3;
}

.conhecimento:nth-child(2){
    grid-column: 3 / 6; 
    grid-row: 3 / 5;
}

.conhecimento:nth-child(3){
    grid-column: 4 / 7; 
    grid-row: 5 / -1;
}

.conhecimento:nth-child(4){
    grid-column: 11 / 14; 
    grid-row: 1/ 3;
}

.conhecimento:nth-child(5){
    grid-column: 12 / 15; 
    grid-row: 3/ 5;
}

.conhecimento:nth-child(6){
    grid-column: 11 / 14; 
    grid-row: 5/ -1;
}


.sessao-conhecimentos{
    background-color:#bebebe ;

}



.sessao-header{
    display: flex;
    align-items: center;
    justify-content:center;


}


.sessao-header h1{
    font-family: var(--font-primary);
    font-size: 3rem;
    color: #4b4b4b;
    border-bottom: solid 5px #6a3093;
    margin-bottom: 1.5rem;

}

.conhecimento-header{
    display: flex;
    align-items: center;
}

.conhecimento-header i{
    font-size: 2.5rem;
    padding:.5rem;
     

    background: -webkit-gradient(to left, #a044ff, #6a3093);
    background: linear-gradient(to left, #a044ff, #6a3093); 
    border-radius: 10px;
}

.conhecimento-header h3{
    font-family: var(--font-secundary);
    font-size: 2rem;
    padding-left: 1rem;
    text-shadow: .1rem .1rem .3rem rgba(0, 0, 0, .7);
    color:#6a3093;


}

.conhecimento-text{
    font-family: var(--font-secundary);
    margin-top: 1rem; 

}

.conhecimento-img-wrapper{
    grid-column: 7 /11;
    grid-row: 2 / 5;
    width: 89%;    
      
    display:flex;
    align-items: center;
    justify-content:center;
   
    background-color: rgba(0, 0, 0, .8);
    border-radius: 5rem;

    margin:1rem 1rem ;        

}

.conhecimento-img-wrapper img{
    object-fit: cover;
    width: 89%;
            
    opacity: 25%;
    border-radius: 5rem;     
    
    margin:1rem;
}


.projetos{
    display: flex;
    justify-content:space-evenly;
    margin-bottom:2rem;

    
        
}

.card{
    width: 18rem;
    height: 25rem;
    position: relative;
    
   
}

.card-img-wrapper{
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: .5rem;

}

.card-img-wrapper img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    opacity: .8;
    transition: opacity .5s;
}

.card:hover .card-img-wrapper img{
    opacity: .5;
}

.card-info{
    position: absolute;
    bottom: 0;
    opacity: 0;
    visibility: hidden;

    padding: 2rem;
    text-shadow:  0.3rem 0.2rem 0.3rem rgba(0, 0, 0, .8 );
    transition: all .5s;
    
    
}

.card-info h2{
    font-family: var(--font-primary);
    font-size: 2rem;
    font-weight: 500;
    color: #eee;

}

.card-info h3{
    font-family: var(--font-action);
    font-weight: bold;
    color: #9d77c9;
    margin-bottom: 1.5rem;
}

.card-info p{
    font-family: var(--font-secundary);
    color: #eee;
    font-weight: 400;
    width: 80%;
    margin-bottom: 1.5rem;
}


.btn{
    background-color: #6a3093;
    background: -webkit-gradient(to left, #a044ff, #6a3093);
    background: linear-gradient(to left, #a044ff, #6a3093); 
    font-family: var(--font-action);
    font-size: 0.7rem;
    color: #eee;
    border-radius: .5rem;
    letter-spacing: .1rem;
    border: none;
    cursor: pointer;
    box-shadow: 0 .1rem .8rem rgba(0, 0, 0, .4);
     

}


.btn:hover{
    opacity: 0.7;
    color: black;


}

.card-info button{
    
    
    position: absolute;
    bottom: -1.8rem;
    left: 3rem;

    width: 8rem;
    height:2.5rem;
    
   
   
}


.card:hover .card-info{
    bottom: 4rem;
    opacity:1;
    visibility: visible;
    
}

.sessao-contato{
    width: 100%;
    height: 100vh;
    background-color: #272727;
    display: flex;
    align-items: center;    
    justify-content: center;
    
}

.contato-wrapper{
    width: 60%;
    height: 30rem;
    display:flex;
    box-shadow: 1rem 1rem 4rem #6f319b91;  
    /* box-shadow: 0 2rem 5rem rgba(0, 0, 0, .4);      */
    
}

.contato-left{    
    /* width:35%;  */
    width:35vh ;
          
    background: linear-gradient(rgba(15,15,15, 0.7), rgba(255, 255, 255, 1)),
     url(imagens/contato.jpg)  ; 
    
    background-size:contain;
}

.contato-right{
    width: 65%;
    background-color: #eee;
    padding: 1rem 3rem 3rem 3rem;    
    
}

.sessao-contato h1{
    width:40%;
    font-family: var(--font-primary);
    text-align: center;
    color: #272727;
    font-weight: lighter;

    font-size: 2rem;
    color: #4b4b4b;
    border-bottom: solid 2px #6a3093;
    margin-bottom: 1.5rem;
    
}

.sessao-contato form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}





.field{
    background: transparent;
    border: none;
    width: 20rem;
    font-size: 1.5rem;
    font-family: var(--font-secundary);
    border-bottom: 2px dashed #636363;
    height: 3rem;
    outline: none;
    margin: 1rem 0;
    
    
}


.field-label{
    position: absolute;
    left:0;
    /* top: 2rem; */
    font-size: 1.2rem;
    font-family: var(--font-secundary);
    text-transform: uppercase;
    transition: all 0.5s;
    
    
}


.field:focus ~ label{
    top:0;
    font-size:0.8rem;
}

.field:focus {     
    border-bottom: 1px solid;

}


.input-group{
    position:relative;
    
}

.input-group textarea{
    padding-top:1rem;
    max-width: 25rem;
    max-height: 5rem;
}


.btn-submit{
    font-family: var(--font-action);
    font-size: .8rem;
    text-transform: uppercase;
    width:100%;
    height: 2rem;
    margin-top: 1rem;



}

.btn-submit:hover{
    opacity: 1;
    
}

.preenchido{
    pointer-events: none;  /*duvida*/
}

.sessao-orcamento{
    width: 100%;
    height: 100vh;    
        
     background: linear-gradient(rgba(15,15,15, 0.7), rgba(15,15,15, 0.7)),
     url(./imagens/bg-orcamento.jpg)  ; 
     
    background-size: cover;
    /* object-fit: cover; */
    display: flex;
    align-items: center;
    justify-content:center;    

}

.orcamento-wrapper{
    width: 60%;
    /* height: 80%; */
    background-color: #ffffff99;
    border-radius: 10px;
    box-shadow:1rem 1.1rem 1.3rem rgba(0, 0, 0, .7);
    position:relative;

}


.sessao-orcamento h1{
    position: absolute;
    top: -2.5rem;
    left: 2rem;

    background-color: #6a3093;
    background: -webkit-gradient(to left, #a044ff, #6a3093);
    background: linear-gradient(to left, #a044ff, #6a3093); 
    padding: 0 3rem;
    color: #fff;
    font-family: var(--font-primary);
    font-size: 3rem;
    font-weight: lighter;
    box-shadow: 1rem 1.1rem 1.3rem rgba(0, 0, 0, .7);
    border-radius: 10px;

}

.sessao-orcamento form{
    margin: 4rem;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
}

.sessao-orcamento label{
    font-family: var(--font-secundary);
    font-size: 1.5rem;
    /* font-weight: bolder; */
}

.sessao-orcamento input[type="number"]{
    font-family: var(--font-secundary);
    width:3rem;
    font-weight: 2rem;
    outline: none;
    border-radius: 5px;
    border: none;
    text-align: center;
    padding: 0.3rem;

}

/* ------------------------------------------------------------- */
.checkmark{
    position: absolute;
    top: 0;
    left:0;
    height: 25px;
    width:25px;
    background: #eee;
    border-radius:2px;


}

.container:hover input ~ .checkmark{
    background-color: #ccc;
}

.container input:checked ~ .checkmark{
    background-color: #ff0a54;
}

.container .checkmark::after{
    content: "";
    position: absolute;
    display: none;
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform:rotate(45deg)

}

.container input:checked ~ .checkmark::after{
    display: block;

}




/* ------------------------------------------------------------- */
.btn-orcamento{
    text-transform:uppercase;
    padding: 1rem;
    cursor: pointer;
    grid-column: 2;

}


footer{
    width: 100%;
    height: 7rem;
    background-color: #17181b;
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer-content{
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.footer-content p{
    font-family: var(--font-secundary);
    color:#a7a7a7;
    font-size:1rem;
    

}

.social-list a{
    margin:1rem 1rem;
    color:#a7a7a7;
    font-size: 1.3rem;


}

.social-list ul{
    display: flex;
}

#link-topo{
    position: fixed;
    right: 2rem;
    bottom: 3rem;
    width: 2rem;
    height: 2rem;

    
    background-color: #6a3093;
    background: -webkit-gradient(to left, #a044ff, #6a3093);
    background: linear-gradient(to left, #a044ff, #6a3093); 
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(27, 27, 27);
    

    box-shadow: 1rem 1.1rem 1.3rem rgba(0, 0, 0, .7);
    border-radius: 10px;

    font-size:1.5rem;




}

#link-topo:hover{
    opacity: 0.7;
    
}